.inline-svg {
  display: inline-block;
  height: 1.55rem;
  width: 1.55rem;
  top: 0 rem;
  position: relative;
}

.mylink {
  color: black;
  text-decoration: none;
}

.mylink:visited {
  color: black;
}

.mylink:hover {
  color: slategrey;
  text-decoration: underline;
}

.mylinkjournal {
  color: #225cd3;
  text-decoration: none;
  font-style: italic;  
}

.mylinkjournal:visited {
  color: #225cd3;
}

.mylinkjournal:hover {
  color: #5a9ce0;
  text-decoration: underline;
}

.mylinkfurtherinfo {
  color: #225cd3;
  text-decoration: none; 
}  

.mylinkfurtherinfo:visited {
  color: #225cd3;
}

.mylinkfurtherinfo:hover {
  color: #5a9ce0;
  text-decoration: underline;
}

.mylinkfurtherinfo:after {
  content: "]";
}

.mylinkfurtherinfo:before {
  content: "[";
}
